 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


 body {
     position: relative;
 }
 .text-dark{
    color: #121518;
 }

 .section-heading {
     display: flex;
     flex-direction: column;
     align-items: center;

     h2 {
         font-size: 40px;
         font-weight: 500;
         color: #FB9AD1;
         text-transform: capitalize;
         text-align: center;
         margin-bottom: 15px;
     }

     p {
         text-align: center;
         max-width: 550px;
     }

 }

 .background {
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: #121518;
     top: 0;
     right: 0;
     z-index: -1;

     &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         display: inline-block;
         width: 100%;
         height: 100%;
         opacity: 0.06;
         background: url("../images/project_bg.png");
         background-position: center center;
         background-repeat: repeat;
         background-attachment: fixed;
     }
 }


 .scroll-top {
     position: fixed;
     bottom: 2%;
     right: 2%;
     border: 0;
     background-color: #FB9AD1;
     padding: 15px 20px;
     cursor: pointer;
     z-index: 99999;
     border-radius: 100%;

     .fa {
         font-size: 20px;
         color: #fff;
     }
 }

 .active {
     background: #fff !important;
     box-shadow: 0 0 36px 0 rgba(22, 25, 28, 0.17);
     top: 0 !important;
     width: 100% !important;
     left: 0 !important;
     border-radius: 0 !important;
     transition: 0.5s all ease;

     p {
         color: #fff;
     }
 }

 .header {
     width: 90%;
     font-family: 'Poppins', sans-serif;
     position: fixed;
     left: 4.5%;
     top: 5%;
     border-radius: 10px;
     background-color: #fff;
     z-index: 10000000;
     transition: 0.5s all ease;



     .header-preview {
         background-color: transparent;
     }

     .header-img {
         height: 65px;
     }

     .header-element {
         color: #121518;
         font-size: 12px;
         justify-content: center;
         padding: 16px;
         align-items: center;
     }

     .navbar {
         .nav-link {
             padding: 8px 15px !important;
             color: #000;
         }

         .nav-item {
             font-size: 15px;
             letter-spacing: -0.2px;
             font-weight: 500;
             text-align: right;

             .active {
                 color: #d14394;
                 background: none !important;
                 box-shadow: none !important;
             }
         }

         .navbar-toggler-icon {
             background: none;

             &::before {
                 font-size: 32px;
             }
         }

         .nav-item:hover {
             .nav-link {
                 color: #FB9AD1;
             }
         }

         .btn-danger {
             border-radius: 4px;
             font-size: 14px;
             padding: 8px 20px;
             font-weight: 500;
         }
     }

     @media screen and (max-width:768px) {
         .navbar-toggler-icon {
             color: #FB9AD1;
         }
     }

     @media screen and (max-width: 320px) {
         width: 100%;
         left: 0;
         top: 0;
         border-radius: 0;
     }
 }

 /*Banner Start*/
 .banner {
     padding: 20em 0 20em;
     position: relative;
     background-image: url(../images/mainbg.png);
     background-position: top;
     background-size: cover;
     overflow: hidden;

     &.banner-fub{
     background-image: url(../images/f-hub.jpeg);

     .section-overlay{
        opacity: 0.6;
     }

     }

     .section-overlay {
         background: #141414;
         opacity: 0.3;
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition: all 0.4s ease-in-out;
         z-index: 9999;
     }

     span {
         font-size: 16px;
         line-height: 21px;
         color: #1C2539;
         font-weight: 400;
     }

     .container {
         position: relative;
         z-index: 9999999;

         h6 {
             font-weight: 700;
             text-transform: uppercase;
             color: #fff;
             margin-bottom: 10px;
         }

         h1 {
             font-size: 70px;
             font-weight: 700;
             line-height: 80px;
             text-transform: capitalize;
             color: #fff;
             margin-bottom: 40px;
         }

         p {
             font-size: 16px;
             font-weight: 400;
             line-height: 28px;
             color: rgba(255, 255, 255, 0.7);
             margin-bottom: 30px;
         }

         a {
             &.btn {
                 border-radius: 4px;
                 line-height: 21px;
                 position: relative;
                 display: inline-block;
                 overflow: hidden;
                 padding: 14px 30px;
                 font: 500 16px "Poppins", sans-serif;
                 text-transform: capitalize;
                 background-color: #FB9AD1 !important;
                 transition: 0.5s all ease;
                 border: 0;

                 &:hover {
                     background-color: #1d242e !important;
                 }
             }
         }
     }

 }

 @media (max-width: 768px) {
     .banner {
         padding: 12em 0;
     }
 }

 @media screen and (max-width: 750px) {
     .banner {
         padding: 12em 0;

         .container {
             h1 {
                 font-size: 50px;
                 line-height: 60px;
             }
         }
     }
 }

 @media (max-width:568px) {
     .banner {
         padding: 12em 0;

         .container {
             h1 {
                 font-size: 35px;
                 line-height: 60px;
             }
         }

         .shape1 {
             z-index: -1;
         }
     }

     @media screen and (max-width: 320px) {
         .banner {
             .container {
                 h1 {
                     font-size: 26px;
                     line-height: 40px;
                 }
             }
         }
     }
 }

 /*Banner End*/


 /*About Start*/
 .about {
     padding: 80px 0 60px;
     background-color: #121518;

     .about-image {
         border-radius: 4px;
         overflow: hidden;

         .explore-content-wrapper {
             width: 100%;
             height: 100%;
             position: absolute;
             top: 80%;
             right: 0;
             background-color: #121518a7;
             transition: all 0.6s ease;
             padding: 20px;
             display: flex;
             align-items: start;
             justify-content: start;

             h2 {
                 a {
                     font-size: 32px;
                     color: #ffffff;
                     text-decoration: none;
                 }
             }
         }

         img {
             height: auto;
             width: 100%;
             border-radius: 4px;
         }

         &:hover {
             .explore-content-wrapper {
                 top: 0;
                 display: flex;
                 align-items: center;
                 justify-content: center;
             }
         }
     }

     @media screen and (max-width: 768px) {
         .about-10-row {
             row-gap: 50px;
         }
     }

     @media screen and (max-width: 576px) {
         .about-10-heading {
             font-size: 26px;
         }

         h6 {
             padding-right: 0;
         }

         p {
             padding-right: 0;
         }

         .about-image {
             height: auto;
         }
     }
 }
 /*About End*/


 /* Project Start */
 .project {
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #121518;
    position: relative;

     &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         display: inline-block;
         width: 100%;
         height: 100%;
         opacity: 0.06;
         background: url("../images/project_bg.png");
         background-position: center center;
         background-repeat: repeat;
         background-attachment: fixed;
     }

     .heading {
         text-align: center;
         position: relative;
         z-index: 9999;

         .sub-heading {
             color: #FB9AD1;
             font-size: 18px;
             margin-bottom: 10px;
             text-transform: uppercase;
             font-weight: 700;
         }

         .title {
             color: #fff;
             font-size: 40px;
             font-weight: 700;
             text-transform: capitalize;
         }
     }

     .slider {

         .slick-track {
             padding: 40px 0;
         }

         .slick-arrow {
             display: none !important;
         }

         .card {
             overflow: hidden;
             margin: 0 10px;
             border: 0;
             border-radius: 6px;
             box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);

             .card-image {
                 height: auto;
                 overflow: hidden;
                 height: 300px;

                 img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                 }
             }

             .service-name {
                 padding: 20px;


                 h3 {
                     a {
                         font-size: 20px;
                         font-weight: 600;
                         text-decoration: none;
                         color: #000
                     }
                 }

                 p {
                     margin-bottom: 0;
                     font-family: 'Roboto', sans-serif;
                     font-size: 14px;

                     span {
                         color: #F35A38;
                     }
                 }
             }
         }
     }


     @media screen and (max-width: 1199px) {
         .slider {
             .card {
                 .service-name {
                     h3 {
                         font-size: 16px;
                     }
                 }
             }
         }
     }

     @media screen and (max-width: 750px) {
         .slider {
             .card {
                 .service-name {
                     h3 {
                         font-size: 18px;
                     }
                 }
             }
         }
     }

     @media screen and (max-width: 568px) {
         .heading {
             .title {
                 font-size: 30px;
             }
         }
     }


     @media screen and (max-width: 320px) {
         .heading {
             .title {
                 font-size: 24px;
                 line-height: 30px;
             }
         }
     }
 }

 /* Project End */


 .custom {
     padding: 60px 0;
     font-family: 'Poppins', sans-serif;
     background-color: #121518;


     .heading {
         text-align: center;
         position: relative;
         z-index: 9999;

         .sub-heading {
             color: #FB9AD1;
             font-size: 18px;
             margin-bottom: 10px;
             text-transform: uppercase;
             font-weight: 700;
         }

         .title {
             color: #fff;
             font-size: 40px;
             font-weight: 700;
             text-transform: capitalize;
         }
     }

     canvas {
         background: #fff;
         cursor: crosshair;
         width: 100%;
         height: 100%;
     }

     .about-image {
        border-radius: 4px;
        overflow: hidden;
        height: 100%;

        .explore-content-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 85%;
            right: 0;
            background-color: #121518a7;
            transition: all 0.6s ease;
            padding: 20px;
            display: flex;
            align-items: start;
            justify-content: start;

            h2 {
                a {
                    font-size: 32px;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }

        img {
            height: auto;
            width: 100%;
            border-radius: 4px;
            object-fit: contain;
            object-position: top;
        }

        &:hover {
            .explore-content-wrapper {
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

     .canvas-screenshoot-btn{
        position: absolute;
         top: 50px;
         right: 20px;
         padding: 10px 30px;
         border: none;
         border-radius: 5px;
         background: #FB9AD1;
         color: #fff;
         cursor: pointer;
         font-size: 1.2em;
         transition: transform 300ms ease;
         z-index: 2;
         max-width: max-content;

         &:active{
            transform: scale(0.95);
         }
     }

     .canvas-clear-btn {
         position: absolute;
         top: 50px;
         left: 20px;
         padding: 10px 30px;
         border: none;
         border-radius: 5px;
         background: #FB9AD1;
         color: #fff;
         cursor: pointer;
         font-size: 1.2em;
         transition: transform 300ms ease;
         z-index: 2;
         max-width: max-content;

         &:active{
            transform: scale(0.95);
         }
     }

     @media screen and (max-width: 568px) {
         .heading {
             .title {
                 font-size: 30px;
             }
         }
     }


     @media screen and (max-width: 320px) {
         .heading {
             .title {
                 font-size: 24px;
                 line-height: 30px;
             }
         }
     }
 }


 /* Faq Start */
 .faq {
     padding: 80px 0;
     font-family: 'Poppins', sans-serif;
     background-color: #121518;

     .heading {
         text-align: center;
         position: relative;
         z-index: 9999;
         margin-bottom: 30px;

         .sub-heading {
             color: #fe964d;
             font-size: 18px;
             margin-bottom: 10px;
             text-transform: uppercase;
             font-weight: 700;
         }

         .title {
             color: #000;
             font-size: 40px;
             font-weight: 700;
             text-transform: capitalize;
         }
     }

     .accordion-flush {
         font-family: 'Poppins', sans-serif;

         .accordion-item {
             box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.09);
             margin-bottom: 20px;
             transition: 0.5s all ease;
             border-radius: 4px;

             .accordion-button {
                 border-radius: 4px 4px 0 0;
                 font-weight: 600;
                 color: #000;

                 &:focus {
                     border: 0;
                     box-shadow: none;
                 }

                 &:not(.collapsed) {
                     color: #FB9AD1;
                     background-color: #f8f8f8;
                     font-weight: 600;

                     &::after {
                         rotate: 180deg;
                         background-image: url(../images/chevron.svg);
                     }
                 }

                 &::after {
                     rotate: -90deg;
                 }
             }
         }
     }

     @media screen and (max-width: 1199px) {
         .accordion-flush {
             .accordion-item {
                 .accordion-button {
                     font-size: 0.8rem;
                 }
             }
         }
     }

     @media screen and (max-width: 568px) {
         .heading {
             .title {
                 font-size: 30px;
             }
         }
     }

 }

 /* Faq End */
 /* Blog Start */
 .blogs {
     background-color: #ffffff;
     padding: 5em 0;

     .block {
         background-color: #ffffff;
         border-radius: 10px;
         overflow: hidden;
         transition: box-shadow 0.5s;
         box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);


         .img-wrapper {
             overflow: hidden;
             height: 200px;
             width: 100%;

             img {
                 width: 100%;
                 object-fit: cover;
                 transition: transform 0.5s;

                 &:hover {
                     transform: scale(1.05);
                 }
             }
         }

         .block-content {
             padding: 20px;

             .date,
             .comments {
                 color: #FB9AD1;
                 font-size: 14px;
                 font-weight: 700;
                 display: inline-flex;
                 align-items: center;

                 i {
                     -webkit-text-stroke: 0.5px;
                 }
             }

             a {
                 color: #121518;
                 display: block;
                 font-weight: 700;
                 font-size: 24px;
                 text-decoration: none;
                 cursor: pointer;
                 transition: all 0.5s;

                 &:hover {
                     color: #FB9AD1;
                 }
             }
         }

         .read-more {
             width: 100%;
             padding: 10px;
             border-top: 1px solid rgba(0, 0, 0, 0.05);
             transition: all 0.3s ease;

             a {
                 color: #121518;
                 text-decoration: none;
                 width: 94%;
                 margin: 0 auto;
                 display: flex;
                 justify-content: space-between;
                 font-size: 18px;
                 font-weight: 600;
                 transition: all 0.3s ease;

                 i {
                     width: 30px;
                     height: 30px;
                     line-height: 30px;
                     background-color: #121518;
                     border-radius: 50%;
                     color: #ffffff;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     -webkit-text-stroke: 0.5px;
                     transition: all 0.3s ease;
                 }
             }

             &:hover {
                 background-color: #ffffff;
             }
         }

         &:hover {
             box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
         }
     }
 }

 /* Blog End */
 /* Contact Start*/
 .contact {
     padding: 60px 0px;
     position: relative;

     .wrapper {
         background-color: #ffffff;
         overflow: hidden;
         border-radius: 20px;
         box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.1);

         .contact-info {
             display: flex;
             align-items: center;
             justify-content: space-around;
             background: #ffffff;

             .block {
                 padding: 20px;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;
                 gap: 2rem;

                 i {
                     color: #FB9AD1;
                     font-size: 40px;
                 }

                 h5 {
                     font-weight: 700;
                     font-size: 20px;
                 }
             }
         }
     }
 }

 @media screen and (max-width: 568px) {
    .contact-info{
        flex-direction: column
    }
}

 /*Contact End*/
 footer {
     background-color: #121518;
     color: #727272;
     position: relative;

     .newsletter {
         padding: 60px 0px;
         border-bottom: 1px solid #ffffff3c;
         overflow: hidden;

         h1 {
             font-size: 40px;
             font-weight: 800;
             color: #ffffff;
             text-align: center;
         }

         p {
             color: #ffffff;
         }

         form {
             .form-input {
                 border: none;
                 padding: 20px;
                 width: 38%;
                 border-top-left-radius: 10px;
                 border-bottom-left-radius: 10px;

                 &:focus {
                     border: none !important;
                     outline: none;
                 }
             }

             .form-btn {
                 background-color: #FB9AD1;
                 color: #ffffff;
                 font-weight: 700;
                 border: none;
                 border-top-right-radius: 10px;
                 border-bottom-right-radius: 10px;
                 padding: 0px 20px;
             }
         }
     }

     .footer-inner {
         padding-top: 60px;

         .main-box {
             .social-icon {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 width: 40px;
                 height: 40px;
                 line-height: 38px;
                 background-color: #ffffff;
                 color: #121518;
                 border-radius: 50%;
                 text-decoration: none;
                 margin-right: 10px;
                 transition: all 0.3s;

                 &:hover {
                     background-color: #FB9AD1;
                     color: #ffffff;
                 }
             }
         }

         .ft-box {
             h5 {
                 color: #ffffff;
                 font-size: 22px;
                 font-weight: 700;
                 margin-bottom: 10px;
             }

             i {
                 color: #ffffff;
             }

             p {
                 a {
                     display: inline-block;
                     text-decoration: none;
                     color: #727272;
                     margin-bottom: 5px;
                 }
             }
         }

         .copy-right {
             margin-top: 60px;
             padding: 25px 0px;
             border-top: 1px solid #ffffff3c;
         }
     }
 }